<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

		<!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="false" location="classpath:jdbc.properties" />
	
	<!-- 配置springmvc容器扫描包 -->
	<context:component-scan base-package="com.wangku.dpl" use-default-filters="false">
		<context:include-filter type="annotation" 
			expression="org.springframework.stereotype.Controller"/>
		<!-- <context:include-filter type="annotation" 
			expression="org.springframework.web.bind.annotation.ControllerAdvice"/> -->
	</context:component-scan>
	
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 配置freeMarker的模板路径 -->
	<!-- <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="WEB-INF/ftl/" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean> -->
		<!-- 配置使用freemarker  -->
	<!-- <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="contentType" value="text/html;charset=UTF-8" />
		此变量值为pageContext.request, 页面使用方法：rc.contextPath
		<property name="requestContextAttribute" value="rc" />
		<property name="suffix" value=".ftl"></property>
	</bean> -->
	
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 异常跳转 -->
	<!-- <bean id="handlerExceptionResolver"
	    class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	    <property name="exceptionMappings">
	        <props>
	            <prop key="com.wangku">redirect:/toLogin</prop>
	        </props>
	    </property>
	</bean> -->
	

</beans>
