<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangku.dpl.dao.DpwModuleStyleDao">
	<resultMap id="dpwModuleStyleMapper" type="com.wangku.dpl.domain.DpwModuleStyle">
			<result property="id" column="id" />
			<result property="name" column="name" />
			<result property="fileLocation" column="file_location" />
			<result property="snapshot" column="snapshot" />
			<result property="moduleTypeId" column="module_type_id" />
			<result property="deleteStatus" column="delete_status" />
	</resultMap>
	
	<select id="queryById" resultMap="dpwModuleStyleMapper" >
		select * from dpw_module_style
		where id = #{id}
	</select>

	<sql id="count_Tail">
		select count(1) from dpw_module_style record
	</sql>

	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.rows}
	</sql>

	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 id, 
			 name, 
			 file_location, 
			 snapshot, 
			 module_type_id, 
			 delete_status 
			FROM dpw_module_style record
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.id  = #{entity.id ]]>
				</if>
				<if test = "entity.name != null and entity.name != ''">
					<![CDATA[ and record.name  = #{entity.name ]]>
				</if>
				<if test = "entity.fileLocation != null and entity.fileLocation != ''">
					<![CDATA[ and record.file_location  = #{entity.fileLocation ]]>
				</if>
				<if test = "entity.snapshot != null and entity.snapshot != ''">
					<![CDATA[ and record.snapshot  = #{entity.snapshot ]]>
				</if>
				<if test = "entity.moduleTypeId != null and entity.moduleTypeId != ''">
					<![CDATA[ and record.module_type_id  = #{entity.moduleTypeId ]]>
				</if>
				<if test = "entity.deleteStatus != null and entity.deleteStatus != ''">
					<![CDATA[ and record.delete_status  = #{entity.deleteStatus ]]>
				</if>
		</if>
	</sql>

	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.wangku.dpl.domain.DpwModuleStyle">
		insert into dpw_module_style(
				id,
				name,
				file_location,
				snapshot,
				module_type_id,
				delete_status
		)values(
				#{id},
				#{name},
				#{fileLocation},
				#{snapshot},
				#{moduleTypeId},
				#{deleteStatus}
		)
	</insert>
	
	<update id="update">
		update dpw_module_style record set
				<if test = "id != null and id != ''">
					record.id = #{id},
				</if>
				<if test = "name != null and name != ''">
					record.name = #{name},
				</if>
				<if test = "fileLocation != null and fileLocation != ''">
					record.file_location = #{fileLocation},
				</if>
				<if test = "snapshot != null and snapshot != ''">
					record.snapshot = #{snapshot},
				</if>
				<if test = "moduleTypeId != null and moduleTypeId != ''">
					record.module_type_id = #{moduleTypeId},
				</if>
				<if test = "deleteStatus != null and deleteStatus != ''">
					record.delete_status = #{deleteStatus}
				</if>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from dpw_module_style
		<if test=" codes != null and codes.size() > 0 ">
			where id in
			<foreach collection="codes" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
		</if>
		<if test=" codes == null or codes.size() == 0 ">
			where 1 = 3
		</if>
	</delete>
	
	<select id="queryCount" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>
	
	<select id="queryList" resultMap="dpwModuleStyleMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
	</select>
</mapper>